<div class="col-md-6 offset-md-3">
    <h3>User Login</h3>
    <form (ngSubmit)="(submitForm(formData))">
        <div class="form-group">
            <label for="email">EmailId:</label>
            <input type="text" class="form-control" [(ngModel)]="formData.email" name="email" id="email"
                placeholder="email" value="email">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" class="form-control" [(ngModel)]="formData.password" name="password" id="password"
                placeholder="password" value="password">
        </div>
        <div class="buttons">
            <button class="btn btn-success" type="submit"> Login </button><br>

            <button class="btn btn-success" (click)="Register()" type="submit"> Register </button>
        </div>



    </form>


</div>