.buttons {
  display: flex;
  align-content: center;
  gap: 10px;
  cursor: pointer;
}

.home-container {
  background-image: url('https://img.freepik.com/free-vector/underground-car-parking-basement-garage_107791-613.jpg?w=1380&t=st=1694523238~exp=1694523838~hmac=dc859b8cd608c5ab5dca0882c705799527db34d55f82f21c5c677615965cd3a2');
  background-repeat: no-repeat;
  background-size: cover;

  margin-left: -213px;
  margin-right: -213px;
  padding: 111px;
}

#home-container,
h1,h2,
p ,label{
  color: white;
  /* position: c; */
  text-align: center;
}
h1,h2{
color: #dae635;
}
form {

  /* margin-top: -20%; */
}

.container {
  background-color: transparent;
  /* background-color: rgba(255, 255, 255, 0.905); */
  padding-top: 100px;
  padding-bottom: 100px;
   width: 50%;
  box-shadow: inset;
  border: solid rgb(20, 190, 199) 5px;
  border: solid  whitesmoke 5px;
  border-radius: 10px;

}
input{
  border: solid 2px;
  border-radius: 5px;
}
.labels::after{
  content: " *";
  font-size: 18px;
  color: red;
}
label{
  color: black;
  font-size: medium;
}
h2,h1{
  color:black;
}