/* Reset some default styles for consistency */
body, h1, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling to the page */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    margin-left: -216px;
    margin-right: -213px;
    overflow: hidden;
    background-color: transparent;
    color:whitesmoke;
    line-height: 1.6;
    background-image: url("https://i.ytimg.com/vi/kyWiZlrS9mA/maxresdefault.jpg");
}

.container {
    max-width: 654px;
    margin: 0 auto;
    padding: 20px;
    background: fixed;
    
    /* background-color: #fff; */
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #dae635;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    list-style: disc;
}

/* Style the header and footer as needed */
header {
    /* background-color: #b5c837; */
    background-color: rgb(21, 175, 218);
    color: #fff;
    padding: 11px 0;
    text-align: center;
    margin: 0;
}

footer {
    /* background-color:#b5c837; */
    background-color: rgb(21, 175, 218);
    color: #fff;
    padding: 11px 0;
    padding-bottom: 0;
    text-align: center;
}

/* Add additional styling based on your app's branding and design guidelines */
