<div class="col-md-6 offset-md-3">
    <body>
    <h3>Update costPerhr</h3>
    <form (ngSubmit)="onSubmit()">
        <!-- <form> -->
    <div class="container">
        <div class="form-group">
            <label class="labels">AdminId</label>
            <input type="number" class="form-control" [(ngModel)]="admin.admin_id" id="admin_id"
                name="admin_id" required> 
        </div>
       
        <!-- <div class="form-group">
            <label class="labels">EmailId</label>
            <input type="text" class="form-control" [(ngModel)]="admin.emailid" id="emailid"
                name="email" required> 
        </div>
        <div class="form-group">
            <label class="labels">Password</label>
            <input type="text" class="form-control" [(ngModel)]="admin.password" id="password"
                name="password" required> 
        </div> -->
        <div class="form-group">
            <label class="labels">costPerhr</label>
            <input type="number" class="form-control" [(ngModel)]="admin.costperhr" id="costperhr"
                name="costperhr" required> 
        </div>
        <button class="btn btn-success"  type="submit"> Update </button>
    </div>
        </form>
    </body>
        </div>