<div class="home-container">
    <h1>Online Parking Booking System</h1>
    <p> book your car parking here</p>
<div>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/admin" routerLinkActive="active" >AdminHome</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a routerLink="admin-view-bookings" routerLinkActive="active">ViewBokings</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <li class="nav-item">
            <a routerLink="admin-update-cost" routerLinkActive="active">UpdateCost</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <li class="nav-item">
            <a routerLink="/" routerLinkActive="active">Logout</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul> 
   
  <!-- </nav> -->

  </div>
  </div>