/* Reset some default styles for consistency */
body, h1, p, label, input, textarea, button {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling to the page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-left: -216px;
    margin-right: -213px;
    /* background-size: cover; */
    color: #15c86e;
    line-height: 1.6;
    background-image: url("https://pdslkenya.com/img/contact.jpg");
}

.container {
    max-width: 900px;
    /* width: fit-content; */
    margin: 0 auto;
    padding: 20px;
    color: whitesmoke;
    /* background-color: #fff; */
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #dae635;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

.contact-form {
    margin-top: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #14bd58;
    background: linear-gradient(green, #e91e63);
    color: #fff;
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the header and footer as needed */
header {
    /* background-color: #b5c837; */
    background-color: rgb(21, 175, 218);
    color: #fff;
    padding: 11px 0;
    text-align: center;
}

footer {
    background-color:rgb(21, 175, 218);
    color: #fff;
    padding-top:  10px;
    padding: 11px;
    text-align: center;

}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#2196f3, #e91e63);
    overflow: hidden;
} */
/* Add additional styling based on your app's branding and design guidelines */

.labels::after{
    content: " *";
    color: red;
    font-size: 18px;
}
.home__social {
    display: flex;
    flex-direction: column;
  }
  
  .home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
  }
  
  .home__social-icon:hover {
    color: var(--first-color);
  }