.home-container{
    background-image: url('../../assets/pexels-craig-adderley-1563355.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
     margin-left: -213px;
     margin-right: -213px ;
     padding: 304px;
     
  }
  #home-container,h1,p{
  color: rgb(232, 232, 238);
  }
 