<div>
 
  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="user-costperhr" routerLinkActive="active">Parking cost</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a routerLink="user-book-parking" routerLinkActive="active">Book slot</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
            <a routerLink="user-bookings" routerLinkActive="active">View Bookings</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        <li class="nav-item" >  
            <!-- <button (click)="logoutuser(sessionId)">Logout</button>     -->
            <button (click)="logoutnuser()" class=" btn btn-danger">Logout</button>     
            <!-- <a  routerLink="login-register"  routerLinkActive="active">Logout</a> -->
        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </ul>
    
  <!-- </nav> -->
  <div class = "container">
    <!-- <router-outlet></router-outlet> -->
   </div>
  </div>
